<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/base.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <div class="logo-img">
                <img src="logo.png" alt="Logo Sebas Cook" onerror="this.style.display='none'">
            </div>
            <span class="logo-text">Sebas Cook</span>
        </div>
        <nav class="nav-links">
            <a href="ordenar.html" class="nav-btn">Ordena</a>
            <a href="contacto.html" class="nav-btn">Contacto</a>
            <a href="admin.html" class="nav-btn">Admin</a>
        </nav>
    </header>
    <!-- FIN DEL HEADER -->

</body>
</html>