<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/base.css') }}">

</head>
<body>
    <header>
        <div class="logo-container">
            <div class="logo-img">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Sebas Cook">
            </div>
            <span class="logo-text">Sebas Cook</span>
        </div>
        <nav class="nav-links">
            <a href="{{ url_for('main.ordena') }}" class="nav-btn">Ordena</a>
            <a href="{{ url_for('main.contact') }}" class="nav-btn">Contacto</a>
            <a href="admin.html" class="nav-btn">Admin</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>